# Database connection

In [1]:
import psycopg2

## Connecting to the database

In [2]:
%%capture --no-display capture_output
# Loading SQL
%load_ext sql

In [3]:
%%capture --no-display capture_output
# Loading schemadisplay
%load_ext schemadisplay_magic

In [4]:
%%capture --no-display capture_output
# Configuring SQL so it will load files using Pandas
%config SqlMagic.autopandas=True

In [5]:
%%capture --no-display capture_output
# Set to return floats rather than decimals
DEC2FLOAT = psycopg2.extensions.new_type(
    psycopg2.extensions.DECIMAL.values,
    'DEC2FLOAT',
    lambda value, curs: float(value) if value is not None else None)
psycopg2.extensions.register_type(DEC2FLOAT)

In [6]:
# Defining local variables
DB_ENGINE='postgresql'
DB_HOST='db'
DB_PORT=5432
DB_NAME='dvdrental'
DB_USER='postgres'
DB_PWD='letmein'

In [7]:
# Creating connection string
DB_ML_SETUP_CONNECTION = '{engine}://{user}:{pwd}@{host}:{port}/{name}'.format(engine=DB_ENGINE,
                                                               user=DB_USER,
                                                               pwd=DB_PWD,
                                                               host=DB_HOST,
                                                               port=DB_PORT,
                                                               name=DB_NAME)

In [8]:
print("Connecting with connection string : {}".format(DB_ML_SETUP_CONNECTION))

%sql $DB_ML_SETUP_CONNECTION

Connecting with connection string : postgresql://postgres:letmein@db:5432/dvdrental

In [9]:
%%sql

SELECT version();

 * postgresql://postgres:***@db:5432/dvdrental
1 rows affected.

                                             version
0  PostgreSQL 10.18 (Debian 10.18-1.pgdg90+1) on ...

In [10]:
%%sql

SHOW search_path;

 * postgresql://postgres:***@db:5432/dvdrental
1 rows affected.

       search_path
0  "$user", public

In [14]:
%%sql

SELECT * FROM pg_catalog.pg_tables WHERE schemaname != 'pg_catalog' AND schemaname = 'public';

 * postgresql://postgres:***@db:5432/dvdrental
15 rows affected.

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,staff,postgres,None,True,False,True,False
1,public,category,postgres,None,True,False,True,False
2,public,film_category,postgres,None,True,False,True,False
3,public,country,postgres,None,True,False,True,False
4,public,actor,postgres,None,True,False,True,False
5,public,language,postgres,None,True,False,True,False
6,public,inventory,postgres,None,True,False,True,False
7,public,payment,postgres,None,True,False,True,False
8,public,rental,postgres,None,True,False,True,False
9,public,city,postgres,None,True,False,True,False
10,public,store,postgres,None,True,False,True,False
11,public,film,postgres,None,True,False,True,False
12,public,address,postgres,None,True,False,True,False
13,public,film_actor,postgres,None,True,False,True,False
14,public,customer,postgres,None,True,False,True,False

In [12]:
# %schema --connection_string $DB_ML_SETUP_CONNECTION -t recommender.movies_metadata